@import '../../css-config/mixins.scss';

.grid {
  text-align: center;
  min-height: 250px;
  .card {
    padding: 2em;
  }
  .text-success {
    color: #fb56c1 !important;
  }
  h1 {
    font-size: 35px;
    color: #fb56c1;
    line-height: 50px;
  }
  p {
    font-size: 22px;
    line-height: 40px;
  }
  .mb-3 {
    margin-bottom: 15px;
  }
  button {
    outline: 0;
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: #fb56c1;
    border-bottom: 3px solid #a93580;
  }
}
